---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import RoleFitForm from "@/components/interactive/RoleFitIndexForm";
import { Sidebar } from "@/components/interactive/Sidebar";
import UserReportTable from "@/components/interactive/UserReportTable";
import AuthGuard from "@/components/interactive/AuthGuard";

const USER_ID = "51bad019-1d3b-4f7a-9a89-87355fbcde84";
---

<Layout title="Role Fit Index - Bounteer">
  <AuthGuard client:load>
    <main class="bg-gray-50 min-h-screen flex">
      <Sidebar client:load />

      <section class="flex-1 px-6 py-10">
        <div class="mb-6">
          <h1 class="text-2xl font-semibold tracking-tight">
            Role Fit Index Reports
          </h1>
        </div>

        <UserReportTable userId={USER_ID} pageSize={10} client:load />
      </section>
    </main>

    <Footer />
  </AuthGuard>
</Layout>
