---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import RoleFitForm from "@/components/interactive/RoleFitIndexForm";
import { Sidebar } from "@/components/interactive/Sidebar";
import UserReportTable from "@/components/interactive/UserReportTable";

const USER_ID = "51bad019-1d3b-4f7a-9a89-87355fbcde84";
---

<Layout title="Role Fit Index - Bounteer">
  <Header />

  <main class="bg-gray-50">
    <section class="container-custom lg:max-w-none lg:px-0 py-10 lg:py-14">
      <div class="lg:flex">
        <Sidebar />

        <div class="w-full lg:pl-6 lg:pr-8">
          <div class="mb-6 py-6">
            <h1 class="text-2xl font-semibold tracking-tight">
              Role Fit Index Reports
            </h1>
          </div>

          <UserReportTable userId={USER_ID} pageSize={10} client:load />
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
