---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { Sidebar } from "@/components/interactive/Sidebar";
---

<Layout title="Home - Bounteer">
  <Header />

  <main>
    <section class="py-16 bg-white">
      <div class="container-custom lg:max-w-none lg:px-0">
        <div class="lg:flex">
          <Sidebar />

          <!-- Main content area -->
          <main class="w-full lg:pl-6 lg:pr-8 lg:py-8 p-4">
            <!-- your page content here -->
          </main>
        </div>
      </div>
    </section>

    <Footer />
  </main>
</Layout>
