---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Features from "@/components/Features.astro";
import HeroSection from "@/components/HeroSection.astro";
---

<Layout title="Marketplace - Coming Soon - Bounteer">
  <Header />
  <main>
    <HeroSection
      title="Bounteer Marketplace Coming Soon"
      highlightText="Coming Soon"
      description="Join a global network of job referrals and elevate your career."
    />
    <Features />
    <Footer />
  </main>
</Layout>
