---
import { KEYWORDS } from "../constant";
import ContactForm from "./interactive/ContactForm";
---

<section id="contact" class="section bg-gray-50/50">
  <div class="container-custom">
    <div class="grid md:grid-cols-2 gap-12">
      <div class="slide-up">
        <span
          class="inline-block px-4 py-1 rounded-full bg-accent-100 text-accent-600 font-medium text-sm mb-4"
        >
          Get In Touch
        </span>
        <h2 class="mb-6 text-gray-900">We'd Love to Hear From You</h2>
        <p class="text-gray-600 mb-8">
          Let's get Bounteer onboarded into your team or need help getting
          started? Our team is here to assist you every step of the way.
        </p>

        <div class="space-y-6">
          <div class="flex items-start">
            <div class="shrink-0 mt-1">
              <svg
                class="w-6 h-6 text-secondary-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                ></path>
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-lg font-semibold text-gray-900">Email</h3>
              <p class="text-gray-600">{KEYWORDS.email}</p>
            </div>
          </div>

          <div class="flex items-start">
            <div class="shrink-0 mt-1">
              <svg
                class="w-6 h-6 text-secondary-500"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2C6.48 2 2 6.48 2 12c0 5.52 4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm4.64 6.8c-.15 1.58-.8 5.42-1.13 7.19-.14.75-.42 1-.68 1.03-.58.05-1.02-.38-1.58-.75-.88-.58-1.38-.94-2.23-1.5-.99-.65-.35-1.01.22-1.59.15-.15 2.71-2.48 2.76-2.69.01-.03.01-.14-.07-.2-.08-.06-.19-.04-.27-.02-.12.02-1.96 1.25-5.54 3.67-.52.36-.99.53-1.42.52-.47-.01-1.37-.26-2.03-.48-.82-.27-1.47-.42-1.42-.88.03-.24.37-.49 1.03-.74 4.03-1.76 6.72-2.92 8.08-3.49 3.85-1.64 4.65-1.92 5.17-1.93.11 0 .37.03.54.17.14.11.18.26.2.37.02.09.04.29.02.45z"
                ></path>
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-lg font-semibold text-gray-900">Telegram</h3>
              <a
                href="https://t.me/kanekoshoyu"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-600 hover:underline"
              >
                @kanekoshoyu
              </a>
            </div>
          </div>
        </div>
      </div>
      <ContactForm client:load />
    </div>
  </div>
</section>
