---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import HeroSection from "@/components/HeroSection.astro";
import RoleFitForm from "@/components/interactive/RoleFitIndexForm";
---

<Layout
  title="Role Fit Index - Bounteer"
  image_url="https://bounteer.com/og_rfi.png"
  description="Discover your Role Fit Index. Get a clear match score, identify missing skills, and receive instant upgrade tips to enhance your CV. Generate a tailored cover letter to boost your chances of landing interviews."
>

  <main>
    <HeroSection
      title="Check Your Role Fit Index Now"
      highlightText="Role Fit Index"
      description="Bounteer Role Fit Index (RFI) shows you exactly how well a profile matches a job and what to do next. Get a clear match score, pinpoint missing skills, and receive instant upgrade tips to strengthen your CV. Generate a tailored cover letter to boost your chances of landing interviews."
    />

    <section class="py-16 bg-gray-50">
      <div class="container-custom max-w-6xl mx-auto">
        <!-- React form hydration -->
        <RoleFitForm client:load />
      </div>
    </section>
  </main>

  <Footer />
</Layout>
