---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ReportCard from "../../components/interactive/ReportCard";
---

<Layout title="Role Fit Index Report - Bounteer">
  <Header />
  <main class="py-16 bg-white">
    <div class="container-custom max-w-4xl mx-auto px-4">
      <ReportCard client:only="react" />
    </div>
    <Footer />
  </main>
</Layout>
